<html>
<head></head>

<body>

<h1>Posts</h1>

<ul>
{{#posts}}

<li>
  <div>{{title}}   {{body}}
  <form action="delete-post" method="POST">
    <input type="hidden" name = "postId" value={{postid}} />
    <button type="submit">Delete</button>
  </form>


  <form action="update-post" method="POST">
    <input type = "text" name="bodyUpdate" placeholder="{{body}}"/>
    <input type="hidden" name = "postId" value={{postid}} />
    <button type="submit">  Update</button>
  </form>

</div>
</li>

{{/posts}}

</ul>

</body>

</html>
